#cafenav{
    font-family: 'Courgette', cursive;
    color: #804000;
}
#cafenav2{
    color: #804000;
}
#searchnav{
    border: 3px solid #804000;
}
#color-boton-search{
    border: 3px solid #804000;
    color: #804000;
    background-color: burlywood;
}
#marginnav{
    margin: 0;
    padding: 0;
}
#fondo{
    background-color: burlywood;
    border: 10px solid burlywood;
}



.correa1{
    position:relative ;
    top: 150px ; left: 100px ;
}
.correa2{
    position: relative;
    top: -190px; left: 450px;
}
.correa3{
    position: relative;
    top: -520px; left: 800px;
}
.correa4{
    position: relative;
    top: -950px; left: 1150px;
}
.jugete1{
    position: relative;
    top: -750px; left: 100px;
}
.jugete2{
    position: relative;
    top: -1180px; left: 450px;
}
.jugete3{
    position: relative;
    top: -1540px; left: 800px;
}
.jugete4{
    position: relative;
    top: -1900px; left: 1150px;
}
.subti1{
    position: relative;
    top: 150px; left: 100px;
    color: white;
}
.subti2{
    position: relative;
    top: 750px; left: 100px;
    color: white;
}